include README.md
include LICENSE
include CITATION.cff
include PADZE_Manual.pdf
include .github/CONTRIBUTING.md
include .github/SECURITY.md
recursive-include examples *.vcf *.popmap *.md
recursive-include tests/fixtures *.popmap *.vcf
recursive-include docs *.md *.tex
